# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
dist/

# Docker
*.log
docker-compose.override.yml

# Records and events
recordings/
events/
schedule.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
